extends layout

block content 
	#wrap
		img(src='logo.gif')
		br
		center
			#join
			br
			a(href='/stream') EnTeR
				br
				br
			#text1 By entering the site I agree to the terms that are not yet defined.
			br
			br
			br
		#footer CopyRight