extends layout

block content 
	#wrap
		img(src='logo.gif')
		br
		br
		br
		br
		br
		#wrapindex 
			form(name="usern",action="stream",method="get")
				Username: input(type="text",name="usern",value="Enter Username",maxlength="15") 
				input(type="submit",value="Enter")
		br
		br
		br
		br
		br
		br
		br

		#text1 By entering the site I agree to the terms that are not yet defined.
		br
		#footer CopyRight text of some sort