doctype 5
html
  head
    title Not Chat Roulette
    // copyright= CopyRight text of some sort
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block extra_head
  body
    block content
