body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#sourcevid {
    width: 400px;
    height: 300px;
    border: solid;
}

#users img {
    width: 400px;
    height: 300px;
}
