body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 0px;
  background-color: #333;
  background-image:url('bg.jpg');
  background-repeat:repeat-x;
}

a:link {
  color:#999;
  font-size: 2em;
  text-decoration: none;
}

a:visited {
  color:#999;
  font-size: 2em;
  text-decoration: none;
}

a:hover {
  color:#999;
  font-size: 2em;
  text-decoration: line-through;
}

a:active {
  color:#999;
  font-size: 2em;
  text-decoration: none;
}

#wrap {
  width: 830px;
  margin: 0 auto 0 auto;
}

#indexwrap {
  width: 830px;
  margin: 0 auto 0 auto;
}

#sourcevid {
  width: 400px;
  height: 300px;
  border: solid;
  float: right;
}

#users img {
  width: 200px;
  height: 150px;
  border: double;
}

#footer {
  clear: both;
  width: 830px;
  height: 40px;
  background-color: #222;
  text-align: center;
  font-size: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #999;
  padding-top: 20px;
  border-radius: 10px;
}

\\ index file



#join {
  min-height: 900px;
  font-size: 5;
  text-align: center;
}

#discl {
  color: #999;
  text-align: center;
}

#textjoin {
  clear: both;
  font-size: 2em;
}

#loginwrap {
  width: 240px;
  height: 45px;
  background-color: #222;
  text-align: center;
  font-size: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  padding-top: 15px;
  border-radius: 50px;
  margin: 0 auto 0 auto;
}

#wrapindex2 {
  clear: both;
  width: 500px;
  height: 40px;
  background-color: #222;
  text-align: center;
  color: #999;
  border-radius: 10px;
  float: right;
  padding-top: 20px;
  margin-top: 10px;
  font-size: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
}

 \\ clearfix
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after { clear: both;}
.clearfix {zoom: 1;}